<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
  <link rel="icon" href="/images/iconTwitter.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <section class="section-accueil">

    <div class="tweet-navigation">
      <img class="tweet-navigation-image" src="/images/logo-twitter.png" alt="">
      <div class="tweet-navigation-link">
        <a href="/">
          <h2>Home</h2>
        </a>
        <a href="">
          <h2>Explore</h2>
        </a>
        <a href="">
          <h2>Bookmarks</h2>
        </a>
        <a href="/username">
          <h2>My Tweets</h2>
        </a>
      
        <% if (statut === "visitor") { %>
          <a href="/login"><h2> Login</h2></a>

          <a href="/signup"><h2> Sign up</h2></a>
        <%}
        else if (statut === "user") { %>
          <a href="/logout"><h2> Logout</h2></a>
        <%} %>
        
      </div>
    </div>

    <div class="tweet-container">
      <div class="tweet-container-title">
        <h3>Home</h3>
      </div>
      <% if(statut === "user") { %>
      <form action="/tweets" method="post" class="tweet-container-form">
        <div class="tweet-container-message">
          <label for="message"></label>
          <div class="tweet-container-text">
            <textarea name="message" id="message" placeholder="What's happening ?"></textarea>
          </div>

        </div>
        <div class="tweet-container-button">
          <button type="submit" class="tweet-button">Tweet</button>
        </div>
      </form>
      <%} %>

      <div class="comments">

        <ul>
            <% tweets.forEach((tweet) => { %>
              <li> 

                <div class="comments-comment">
                    <a href="<%= `/profile/${tweet.username}` %>"></a><img src="/images/User_Avatar_2.png" alt=""></a>
                    <div class="comments-comment-content">
                      <div class="comments-comment-content-nameDate">
                        <a href= "<%= `/profile/${tweet.username}` %>">
                          <h3 class="comments-comment-content-username"><%= tweet.username %></h3>
                        </a>
                        <span class="comments-comment-content-date"> Publié le <%= tweet.Date %></span>
                      </div>
                      <p class="comments-comment-content-text"><%= tweet.text %></p>
                    </div>
                  </div>
             </li>
            <% }) %>
        </ul>

        

      </div>

    </div>

    <div class="tweet-search"></div>

  </section>
</body>

</html>