<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/images/iconTwitter.png">
</head>

<body>
  <section class="section-accueil">

    <div class="tweet-navigation">
      <img class="tweet-navigation-image" src="/images/logo-twitter.png" alt="">
      <div class="tweet-navigation-link">
        <a href="/">
          <img src="/images/home-run.png" alt="">
          <h2>Home</h2>
        </a>
        <a href="">
          <img src="/images/hastag.png" alt="">
          <h2>Explore</h2>
        </a>
        <a href="">
          <img src="/images/bookmark.png" alt="">
          <h2>Bookmarks</h2>
        </a>
        <!-- <a href="/username">
          <img src="/images/user.png" alt="">
          <h2>My Tweets</h2>
        </a> -->
       
        <% if (statut === "visitor") { %>
          <a href="/login"><h2> Login</h2></a>

          <a href="/signup"><h2> Sign up</h2></a>
        <%}
        else if (statut === "user") { %>
          <a href="/logout"><h2> Logout</h2></a>
        <%} %>

      </div>
    </div>

    <div class="tweet-container">
      <div class="tweet-container-title">
        <h3> <%= `${result[0].first_name} ${result[0].last_name}`  %> </h3>
      </div>
      <div class="tweet-container-profile">
        <div class="tweet-container-profile-background">
          <img src="" alt="">
        </div>
        <div class="tweet-container-profile-picture">
          <img src="/images/User_Avatar_2.png" alt="">
        </div>
        <div class="tweet-container-profile-infos">
          <h3><%= `${result[0].first_name} ${result[0].last_name}`  %></h3>
          <h4><%= `${result[0].username}` %></h4>
          <p><%= `${result[0].city}` %></p>
        </div>
      </div>

      <div class="comments">

        <ul>
          <% result.forEach((tweet) => { %>
            <li> 

              <div class="comments-comment">
                <img src="/images/User_Avatar_2.png" alt="">
                  <div class="comments-comment-content">
                    <div class="comments-comment-content-nameDate">
                      
                        <h3 class="comments-comment-content-username"><%= tweet.username %></h3>
                      
                      <span class="comments-comment-content-date"> Publié le <%= tweet.Date %></span>
                    </div>
                    <a href="<%= `/profile/${result[0].username}/${tweet.tweet_id}` %>"><p class="comments-comment-content-text"><%= tweet.text %></p></a>
                    
                    <% if (owner) { %>
                      <form action="<%= `/tweets/${tweet.tweet_id}/delete` %>" method="GET"> <input type="submit" formmethod="DELETE" value="SUPPRIMER"></form>
                    <%} %>
                    
                  </div>
                </div>
           </li>
          <% }) %>
      </ul>

      </div>

    </div>

    <div class="tweet-search"></div>

  </section>
</body>

</html>